CYODA_CLIENT_ID=""
CYODA_CLIENT_SECRET=""
CYODA_HOST=client-43bdae1645af4a04ad2f456bd813812c.eu.cyoda.net
CYODA_AI_API=cyoda
WORKFLOW_AI_API=workflow
CONNECTION_AI_API=connection
RANDOM_AI_API=random
TRINO_AI_API=trino
GRPC_PROCESSOR_TAG="cyoda_application"
CHAT_ID=07c47802-970f-11b2-afc0-0e044684c169
